<div class="news">
  <ul>
<!--     <li><b>05.2024</b> A paper has been submitted to SIGGRAPH Asia 2024.</li> -->
    <li><b>08.2024</b> A paper has been accepted by SIGGRAPH Asia 2024.</li>    
    <li><b>12.2023</b> A paper has been accepted by AAAI 2024.</li>
    <li><b>10.2023</b> A paper is published in OE 2023!</li>
    <li><b>08.2023</b> A paper is published in TGRS 2023!</li>
    <li><b>06.2023</b> A paper is published in AAAI 2023!</li>
    <li><b>11.2022</b> A paper is published in OE 2022!</li>
  </ul>
</div>
